{{ define "main" }}
    <div class="container" data-pagefind-body>
        {{ $pages := where $.Site.RegularPages "Section" .Section }}
        {{ $sorted := sort $pages "Date" "desc" }}
        {{ $paginator := .Paginate $sorted }}
        {{ range $i, $page := $paginator.Pages }}
            {{ partial "row.html" (dict "page" $page "index" $i) }}
        {{ end }}
    </div>
{{ end }}


{{ define "pagination" }}
    {{ $pages := where $.Site.RegularPages "Section" .Section }}
    {{ $sorted := sort $pages "Date" "desc" }}
    {{ $paginator := .Paginate $sorted }}
    {{ partial "pagination.html" (dict "paginator" $paginator) }}
{{ end }}
