{{ $background_path :=  "default-background.png" }}
{{ with .context.Site.Params.cover }}
    {{ $background_path = . }}
{{ end }}
{{ if not (hasPrefix $background_path "http") }}
    {{ if resources.Get $background_path }}
        {{ $background_path = (resources.Get $background_path).RelPermalink }}
    {{ end }}
{{ end }}
<div class="jumbotron" style="background-image: url({{ $background_path }});">
    <!-- 友链按钮 - 左上角 -->
    <button class="friends-btn" onclick="openFriendsModal()" title="友情链接">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M21 19.75c0-2.09-1.67-5.068-4-5.727m-2 5.727c0-2.651-2.686-6-6-6s-6 3.349-6 6m9-12.5a3 3 0 1 1-6 0a3 3 0 0 1 6 0m3 3a3 3 0 1 0 0-6"/>
        </svg>
        <span>友链</span>
    </button>
    <div class="container">
        <div class="site-title">
            <a href="{{ .link }}">{{ .context.Site.Params.title }}</a>
        </div>
        <p class="signature">{{ .context.Site.Params.signature }}</p>
    </div>
</div>